__pycache__/lr_functions.cpython-310.pyc
__pycache__/lr_student_function.cpython-310.pyc
__pycache__/test_morethings.cpython-39-pytest-6.2.5.pyc
__pycache__/lr_functions.cpython-39.pyc
__pycache__/test_otherthings.cpython-39-pytest-6.2.5.pyc
__pycache__/test_somethings.cpython-39-pytest-6.2.5.pyc
